[Desktop Entry]
Encoding=UTF-8
Name=KPeople Email Plugin
Name[cs]=Modul e-mailů KPeople
Name[fr]=Module externe KPeople de courrier électronique
Name[nl]=E-mail-plug-in van KPeople
Name[pt]='Plugin' de E-Mail do KPeople
Name[pt_BR]=Plugin de e-mail do KPeople
Name[sk]=KPeople Email Plugin
Name[sv]=KPeople e-postinsticksprogram
Name[uk]=Додаток електронної пошти KPeople
Name[x-test]=xxKPeople Email Pluginxx
Type=Service
ServiceTypes=KPeople/Plugin
X-KDE-Library=email_kpeople_plugin
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=daivdedmundson@kde.org
X-KDE-PluginInfo-Name=email
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
