[Desktop Entry]
Type=Service
ServiceTypes=KPeopleWidgets/Plugin

X-KDE-Library=phonedetailswidgetplugin
X-KDE-PluginInfo-Name=phonedetailswidgetplugin
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=davidedmundson@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KPeople-Weight=2
