[Desktop Entry]
Encoding=UTF-8
Name=Person Data Source Provider
Name[fr]=Fournisseur de source de données personnelles
Name[nl]=Leverancier van gegevensbron met personen
Name[pt]=Fornecedor da Fonte de Dados Pessoais
Name[pt_BR]=Fornecedor de Fonte de Dados Pessoais
Name[sk]=Poskytovateľ dátových zdrojov osôb
Name[sv]=Datakälla för personinformation
Name[uk]=Надавач даних щодо особи
Name[x-test]=xxPerson Data Source Providerxx
Type=Service
ServiceTypes=KPeople/DataSource
X-KDE-Library=im_persons_data_source_plugin
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-Name=IMProvider
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
