[Desktop Entry]
Encoding=UTF-8
Name=KPeople KTp Plugin
Type=Service
ServiceTypes=KPeople/Plugin
X-KDE-Library=ktp_kpeople_plugin
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=daivdedmundson@kde.org
X-KDE-PluginInfo-Name=ktp
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
